.container-fluid.polkadotjs#cheques-index
  .row.justify-content-center
    .col-12
      .card
        .card-header
          .d-flex.align-items-center
            %h5.card-title.mb-0.flex-grow-1 Cheques
            .flex-shrink-0
              .d-flex.flex-wrap.gap-2
                New
                / = link_to new_smart_contract_path, class: 'btn btn-primary add-btn' do
                /   %i.ri-add-line.align-bottom.me-1
                /   New
        .card-body
          .loading.d-none
            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
            %em
              %b Loading...
          .ready#cheques-container
            .d-flex.flex-wrap.mb-5
              .form-check.mb-3.me-5
                %input.form-check-input#pending{ checked: true, type: 'checkbox' }
                %label.form-check-label{ for: 'pending' } Pending Collection
              .form-check.mb-3.me-5
                %input.form-check-input#collected{ checked: true, type: 'checkbox' }
                %label.form-check-label{ for: 'collected' } Collected
              .form-check.mb-3.me-5
                %input.form-check-input#cancelled{ checked: true, type: 'checkbox' }
                %label.form-check-label{ for: 'cancelled' } Cancelled
            .table-responsive.table-card.mb-4
              %table.table.align-middle.table-nowrap.mb-0#cheques-table
                Created Description Amount Status
    / .col-md-9.col-lg-7.col-xl-6.d-none#form-columns
    /   .card
    /     .card-header
    /       %h3.card-title New Cheque
    /     .card-body
    /       %form{ name: 'azSafeSendForm' }
    /         .mb-5
    /           %label.form-label{ for: 'address' } Recipient
    /           %input.form-control#address{ name: 'address', required: true }
    /         .mb-5
    /           = render 'balance', balance_container_extra_classes: 'form-label', user_wallet_balance: true, label: 'Transferrable', active_balance_link: true, data: { input_selector_to_click_fill_to: "form[name='azSafeSendForm'] input[name=amount]", reduce_amount_if_azero: true }
    /           .input-group
    /             %input.border-right-0.form-control#amount{ name: 'amount', autocomplete: 'off', required: true, type: 'number', step: 'any', min: 0 }
    /             / = render 'token_button', additional_button_classes: 'btn-flush btn-outline border-left-0 pe-3 rounded-end', button_id: 'fungible-token-button', data_target: '#fungibleTokens', token: @fungible_tokens.find_by(symbol: 'AZERO')
    /         .mb-5.pb-0
    /           %label.form-label#form-fee Fee: Loading...
    /         .d-flex
    /           %button.btn.btn-secondary.me-5{ type: 'button' }
    /             Cancel
    /           %button.btn.btn-primary{ type: 'submit' }
    /             .d-none.loading
    /               %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
    /               %em Loading...
    /             .ready
    /               Create
  / = render 'token_list', modal_title_id: 'fungibleTokenLabel', modal_id: 'fungibleTokens', modal_content_id: 'token-list', modal_input_id: 'input-text-1', cryptocurrencies: @fungible_tokens, label_type: 'symbol', include_other: true
  / = render 'token_new'
// Modal notices content has to be on top
/ - content_for :modal_notices do
/   .row
/     .col-12
/       .mb-10
/         %h6 About
/         %p There is a risk of sending crypto to the wrong address. Safe Send reduces the risk of sending crypto to the wrong address by using a digital chequeing system. A cheque, or check (American English), is a document that orders a bank (or credit union) to pay a specific amount of money from a person's account to the person in whose name the cheque has been issued. With blockchain, the cheque orders a smart contract instead of a bank (or credit union) to make the transfer.
/       .mb-10
/         %h6 Requirements
/         %p
/           1. A browser extension for signing transactions such as SubWallet, Aleph Zero Signer, Polkadotjs or Talisman.
/           %br
/           2. AZERO for gas
/       .mb-10
/         %h6 Instructions
/         %p
/           1. Sender: enable Safe Send smart contract to transfer token from sender's account to recipient.
/           %br
/           2. Sender: create cheque with recipient's address, amount and token.
/           %br
/           3. Sender: Tell recipient that a cheque has been created.
/           %br
/           4. Recipient: Collect funds.
/       %p
/         1.
/         = link_to 'GitHub: az_safe_send', 'https://github.com/btn-group/az_safe_send', target: '_blank', rel: 'noopener'
/ = render 'modal_notices', title: 'Safe Send'
