.container-fluid.polkadotjs#cheques-index
  .row.justify-content-center
    .col-12
      .card
        .card-header
          .d-flex.align-items-center
            %h5.card-title.mb-0.flex-grow-1 Cheques
            .flex-shrink-0
              .d-flex.flex-wrap.gap-2
                = link_to new_cheque_path, class: 'btn btn-primary add-btn' do
                  %i.ri-add-line.align-bottom.me-1
                  New
        .card-body
          .loading.d-none
            %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
            %em
              %b Loading...
          .ready#cheques-container
            .table-responsive.table-card.mb-4
              %table.table.align-middle.table-nowrap.mb-0#cheques-table
