.container.polkadotjs#cheques-new
  .row
    .col-lg-9.col-xl-8.mx-auto.mb-5
      .card
        .card-body
          %h1.mb-4#cheques-new-form-title Safe Send
          %form.needs-validation{ name: 'chequesNewForm', novalidate: 'novalidate' }
            .mb-3
              %label.form-label.required{ for: 'cheque-to' } Pay to the order of
              %input.form-control#cheque-to{ name: 'to', required: 'required', type: 'text', placeholder: "Enter recipient's wallet address" }
              .invalid-feedback
                Invalid address.
            .mb-3
              %label.form-label AZERO.ID
              %input.form-control{ name: 'azeroId', disabled: true, type: 'text' }
            .mb-3
              = render 'balance', balance_container_extra_classes: 'form-label required', user_wallet_balance: true, active_balance_link: true, data: { input_selector_to_click_fill_to: "form[name='chequesNewForm'] input[name=amount]", smart_contract_address: '' }
              .position-relative
                %input.form-control{ name: 'amount', autocomplete: 'off', required: true, type: 'number', step: 'any', min: 0 }
                .position-absolute{ style: 'top: -1px; right: -5px;' }
                  = render 'token_button', additional_button_classes: '', button_id: 'fungible-token-button', data_target: '#fungibleTokens'
            .d-flex
              .flex-fill
                %label.form-label{ for: 'cheque-memo' } Memo
                %input.form-control#cheque-memo{ name: 'memo', type: 'text' }
              .d-flex.align-items-center.ms-3
                %a.btn.btn-light.me-3{ href: '/' } Cancel
                %button.btn.btn-primary{ type: 'submit' }
                  %span.d-none.loading
                    %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', role: 'status' }
                    %em.loading-status Loading...
                  %span.ready
                    Create
          .card-text.text-end
            %small.text-muted
              Fee:
              %span#fee-amount
                %em.loading-status Loading...
  = render 'token_list', modal_title_id: 'fungibleTokenLabel', modal_id: 'fungibleTokens', modal_content_id: 'token-list', modal_input_id: 'input-text-1', label_type: 'symbol'
