- additional_button_classes ||= ''

%button.btn.dropdown-toggle.align-items-center.d-flex{ class: additional_button_classes, 'data-bs-target' => data_target, 'data-bs-toggle' => 'modal', type: 'button', id: button_id, 'data-initial-id': 0 }
  .me-2.overflow-hidden.rounded-circle{ style: 'height: 25px; width: 25px;' }
    %img{ style: 'height: 25px; width: 25px;' }
  %span.token-symbol.me-2
