- include_other ||= false

.modal.fade.token-list{ 'aria-hidden' => 'true', 'aria-labelledby' => modal_title_id, role: 'dialog', tabindex: '-1', id: modal_id }
  .modal-dialog.modal-dialog-scrollable
    .modal-content{ id: modal_content_id }
      .modal-header.pb-0.border-0
        %h5.modal-title{ id: modal_title_id } Select a token
        %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', type: 'button' }
      .modal-header.border-bottom.pt-2
        %input.form-control.search{ autocomplete: 'off', name: 'inputname1', type: 'text', placeholder: 'Search', id: modal_input_id }
      .modal-body
        .position-absolute No result found.
        .card.border-0.shadow-none.mb-0
          .list-group.list
